@font-face {
    font-family: 'NanumMyeongjo';
    src: url('NanumMyeongjo.woff2') format('woff2'),
        url('NanumMyeongjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('NanumMyeongjoBold.woff2') format('woff2'),
        url('NanumMyeongjoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMyeongjoExtraBold';
    src: url('NanumMyeongjoExtraBold.woff2') format('woff2'),
        url('NanumMyeongjoExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

